Step One: Import libraries and establish a connection

In [42]:
# Import necessary Python packages here:

import numpy as np
import pandas as pd
import pymysql as mysql
import matplotlib.pyplot as plt

In [43]:
# Defining Parameters
host = 'localhost'
port = 3306
username = 'root'  
password = 'Mysql73!'  
database = 'Global_student_diversity_insights'

# Establish a connection here:
conn = mysql.connect(host=host, port=port, user=username, passwd=password, db=database)

# Checking the connection  
if conn:
    print("Successfully Connected to Global_student_diversity_insights database!")
else:
    print("Connection failed, please retry")

Successfully Connected to Global_student_diversity_insights database!

Step Two: How many tables do we have?

In [44]:
# Retrieving all table names here:
query_tableNames = "SHOW TABLES"

tableNames = pd.read_sql(query_tableNames, conn)

# Display the table names here:
tableNames

/var/folders/t1/yg1rln0x5bg97h_qn954mvlh0000gn/T/ipykernel_8919/4027211573.py:4: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  tableNames = pd.read_sql(query_tableNames, conn)

  Tables_in_global_student_diversity_insights
0                    academic_detail_modified
1                           academic_modified
2                     field_of_study_modified
3                             origin_modified
4                     source_of_fund_modified
5                             status_modified

Step Three: Explore each Table

Starting with academic_detail_modified Table

In [141]:

q_1 = """
    DESCRIBE academic_detail_modified;
"""

q_2 = """    
    SELECT * FROM academic_detail_modified;
"""

q_3 = """
SELECT * FROM academic_detail_modified
WHERE year IS NULL OR academic_type IS NULL OR academic_level IS NULL OR students IS NULL;
""" 

# Execute the query
X = pd.read_sql(q_1, conn)
X1 = pd.read_sql(q_2, conn)
X2 = pd.read_sql(q_3, conn)

# Print or display the result
print("\nView The Structure of academic_detail_modified Table:")
print(X)

print("\nRetrieve all rows from academic_detail_modified Table:")
print(X1)

X2.head(4)

View The Structure of academic_detail_modified Table:
            Field         Type Null Key Default Extra
0            year          int  YES        None
1   academic_type  varchar(13)  YES        None
2  academic_level  varchar(29)  YES        None
3        students          int  YES        None

Retrieve all rows from academic_detail_modified Table:
     year  academic_type                 academic_level  students
0    1999  Undergraduate                    Associate's     59830
1    1999  Undergraduate                     Bachelor's    177381
2    1999       Graduate                       Master's    110857
3    1999       Graduate                       Doctoral     72928
4    1999       Graduate                   Professional      9475
..    ...            ...                            ...       ...
211  2022       Graduate                   Professional     17926
212  2022       Graduate          Graduate, Unspecified     12877
213  2022     Non-Degree  Non-Degree, Intensive English     10801
214  2022     Non-Degree              Non-Degree, Other     32965
215  2022            OPT                            OPT    198793

[216 rows x 4 columns]

/var/folders/t1/yg1rln0x5bg97h_qn954mvlh0000gn/T/ipykernel_8919/1595660551.py:15: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  X = pd.read_sql(q_1, conn)
/var/folders/t1/yg1rln0x5bg97h_qn954mvlh0000gn/T/ipykernel_8919/1595660551.py:16: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  X1 = pd.read_sql(q_2, conn)
/var/folders/t1/yg1rln0x5bg97h_qn954mvlh0000gn/T/ipykernel_8919/1595660551.py:17: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  X2 = pd.read_sql(q_3, conn)

Empty DataFrame
Columns: [year, academic_type, academic_level, students]
Index: []

academic_modified Table

In [75]:
q_4 = """
    DESCRIBE academic_modified;
"""

q_5 = """    
    SELECT * FROM academic_modified;
"""


# Execute the query
X3 = pd.read_sql(q_4, conn)
X4 = pd.read_sql(q_5, conn)

# Print or display the result
print("\nView The Structure of academic_modified Table:")
print(X3)

print("\nRetrieve all rows from academic_modified Table:")
print(X4)

View The Structure of academic_modified Table:
           Field   Type Null Key Default Extra
0           year    int  YES        None
1       students    int  YES        None
2    us_students  float  YES        None
3  undergraduate  float  YES        None
4       graduate  float  YES        None
5     non_degree  float  YES        None
6            opt  float  YES        None

Retrieve all rows from academic_modified Table:
    year  students  us_students  undergraduate  graduate  non_degree       opt
0   1979    286343   11570000.0       172520.0   94130.0     16850.0    2840.0
1   1980    311882   12097000.0       186660.0   99110.0     21660.0    3450.0
2   1981    326299   12372000.0       195150.0  106290.0     21980.0    2880.0
3   1982    336985   12426000.0       202760.0  110270.0     20340.0    3620.0
4   1983    338894   12465000.0       197480.0  118820.0     19190.0    3400.0
5   1984    342113   12242000.0       197640.0  122590.0     17570.0    4310.0
6   1985    343777   12247000.0       187660.0  132430.0     19540.0    4150.0
7   1986    349609   12504000.0       181230.0  146100.0     17550.0    4730.0
8   1987    356187   12767000.0       176669.0  156366.0     18352.0    4800.0
9   1988    366354   13055000.0       172551.0  165590.0     21189.0    7020.0
10  1989    386851   13539000.0       184527.0  169827.0     24785.0    7712.0
11  1990    407529   13819000.0       189900.0  182130.0     26730.0    8770.0
12  1991    419585   14359000.0       197070.0  191330.0     22960.0    8230.0
13  1992    438618   14487000.0       210080.0  193330.0     24200.0   11010.0
14  1993    449749   14305000.0       213610.0  201030.0     23680.0   11430.0
15  1994    452635   14279000.0       221500.0  191738.0     26188.0   13209.0
16  1995    453787   14262000.0       218620.0  190092.0     29625.0   15450.0
17  1996    457984   14368000.0       218743.0  190244.0     30872.0   18125.0
18  1997    481280   14502000.0       223276.0  207510.0     33912.0   16582.0
19  1998    490933   14507000.0       235802.0  211426.0     26863.0   16842.0
20  1999    514723   14791000.0       237211.0  218219.0     34436.0   24857.0
21  2000    547867   15312000.0       254429.0  238497.0     33883.0   21058.0
22  2001    582996   15928000.0       261079.0  264749.0     34423.0   22745.0
23  2002    586323   16612000.0       260103.0  267876.0     30551.0   27793.0
24  2003    572509   16911000.0       248200.0  274310.0     20659.0   29340.0
25  2004    565039   17272000.0       239212.0  264410.0     28418.0   32999.0
26  2005    564766   17487000.0       236342.0  259717.0     30611.0   38096.0
27  2006    582984   17672000.0       238050.0  264288.0     38986.0   41660.0
28  2007    623805   18248000.0       243360.0  276842.0     46837.0   56766.0
29  2008    671616   19103000.0       269874.0  283329.0     51812.0   66601.0
30  2009    690923   20428000.0       274431.0  293885.0     54803.0   67804.0
31  2010    723277   20550000.0       291439.0  296574.0     59233.0   76031.0
32  2011    764495   20625000.0       309342.0  300430.0     69566.0   85157.0
33  2012    819644   21253000.0       339993.0  311204.0     73528.0   94919.0
34  2013    886052   21216000.0       370724.0  329854.0     79477.0  105997.0
35  2014    974926   20300000.0       398824.0  362228.0     93587.0  120287.0
36  2015   1043839   20264000.0       427313.0  383935.0     85093.0  147498.0
37  2016   1078822   20185000.0       439019.0  391124.0     72984.0  175695.0
38  2017   1094792   19831000.0       442746.0  382953.0     65631.0  203462.0
39  2018   1095299   19828000.0       431930.0  377943.0     62341.0  223085.0
40  2019   1075496   19720000.0       419321.0  374435.0     58201.0  223539.0
41  2020    914095   19744000.0       359787.0  329272.0     21151.0  203885.0
42  2021    948519   20327000.0       344532.0  385097.0     34131.0  184759.0
43  2022   1057188   18961300.0       347602.0  467027.0     43766.0  198793.0

/var/folders/t1/yg1rln0x5bg97h_qn954mvlh0000gn/T/ipykernel_8919/46570023.py:11: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  X3 = pd.read_sql(q_4, conn)
/var/folders/t1/yg1rln0x5bg97h_qn954mvlh0000gn/T/ipykernel_8919/46570023.py:12: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  X4 = pd.read_sql(q_5, conn)

field_of_study_modified Table

In [76]:
q_6 = """
    DESCRIBE field_of_study_modified;
"""

q_7 = """    
    SELECT * FROM field_of_study_modified;
"""


# Execute the query
X5 = pd.read_sql(q_6, conn)
X6 = pd.read_sql(q_7, conn)

# Print or display the result
print("\nView The Structure of field_of_study_modified Table:")
print(X5)

print("\nRetrieve all rows from field_of_study_modified Table:")
print(X6)

View The Structure of field_of_study_modified Table:
            Field         Type Null Key Default Extra
0            year          int  YES        None
1  field_of_study  varchar(33)  YES        None
2           major  varchar(52)  YES        None
3        students       double  YES        None

Retrieve all rows from field_of_study_modified Table:
      year                 field_of_study  \
0     1998                    Agriculture
1     1998                    Agriculture
2     1998        Business and Management
3     1998  Communications and Journalism
4     1998  Communications and Journalism
...    ...                            ...
1032  2022                Social Sciences
1033  2022                Social Sciences
1034  2022                Social Sciences
1035  2022                Social Sciences
1036  2022                     Undeclared

                                                  major  students
0                                           Agriculture    6146.0
1                    Natural Resources and Conservation    1803.0
2                               Business and Management  101360.0
3                             Communication, Journalism    9473.0
4               Communications Technologies/Technicians    1761.0
...                                                 ...       ...
1032                                            History    2551.0
1033                                         Psychology   18474.0
1034  Public Administration and Social Service Profe...    8483.0
1035                                    Social Sciences   53998.0
1036                                         Undeclared   17910.0

[1037 rows x 4 columns]

/var/folders/t1/yg1rln0x5bg97h_qn954mvlh0000gn/T/ipykernel_8919/1398189091.py:11: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  X5 = pd.read_sql(q_6, conn)
/var/folders/t1/yg1rln0x5bg97h_qn954mvlh0000gn/T/ipykernel_8919/1398189091.py:12: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  X6 = pd.read_sql(q_7, conn)

origin_modified Table

In [77]:
q_8 = """
    DESCRIBE origin_modified;
"""

q_9 = """    
    SELECT * FROM origin_modified;
"""


# Execute the query
X7 = pd.read_sql(q_8, conn)
X8 = pd.read_sql(q_9, conn)

# Print or display the result
print("\nView The Structure of origin_modified Table:")
print(X7)

print("\nRetrieve all rows from origin_modified Table:")
print(X8)

View The Structure of origin_modified Table:
           Field         Type Null Key Default Extra
0           year          int  YES        None
1  origin_region  varchar(27)  YES        None
2         origin  varchar(40)  YES        None
3  academic_type  varchar(13)  YES        None
4       students          int  YES        None

Retrieve all rows from origin_modified Table:
     year           origin_region                           origin  \
0    2000      Africa, Subsaharan  Africa, Subsaharan, Unspecified
1    2000      Africa, Subsaharan  Africa, Subsaharan, Unspecified
2    2000      Africa, Subsaharan  Africa, Subsaharan, Unspecified
3    2000                    Asia                Asia, Unspecified
4    2000                    Asia                Asia, Unspecified
..    ...                     ...                              ...
578  2000  South and Central Asia                       Uzbekistan
579  2000          Southeast Asia                           Brunei
580  2000          Southeast Asia                           Brunei
581  2000          Southeast Asia                           Brunei
582  2000          Southeast Asia                    Burma/Myanmar

     academic_type  students
0         Graduate         2
1            Other         0
2    Undergraduate         6
3         Graduate         0
4            Other         6
..             ...       ...
578  Undergraduate       249
579       Graduate         6
580          Other         2
581  Undergraduate        17
582       Graduate       136

[583 rows x 5 columns]

/var/folders/t1/yg1rln0x5bg97h_qn954mvlh0000gn/T/ipykernel_8919/1415409239.py:11: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  X7 = pd.read_sql(q_8, conn)
/var/folders/t1/yg1rln0x5bg97h_qn954mvlh0000gn/T/ipykernel_8919/1415409239.py:12: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  X8 = pd.read_sql(q_9, conn)

source_of_fund_modified Table

In [78]:
q_10 = """
    DESCRIBE source_of_fund_modified;
"""

q_11 = """    
    SELECT * FROM source_of_fund_modified;
"""


# Execute the query
X9 = pd.read_sql(q_10, conn)
X10 = pd.read_sql(q_11, conn)

# Print or display the result
print("\nView The Structure of source_of_fund_modified Table:")
print(X9)

print("\nRetrieve all rows from source_of_fund_modified Table:")
print(X10)

View The Structure of source_of_fund_modified Table:
            Field         Type Null Key Default Extra
0            year          int  YES        None
1   academic_type  varchar(13)  YES        None
2     source_type  varchar(13)  YES        None
3  source_of_fund  varchar(32)  YES        None
4        students          int  YES        None

Retrieve all rows from source_of_fund_modified Table:
     year  academic_type    source_type                    source_of_fund  \
0    1999  Undergraduate  International               Personal and Family
1    1999  Undergraduate  International  Foreign Government or University
2    1999  Undergraduate  International           Foreign Private Sponsor
3    1999  Undergraduate  International        International Organization
4    1999  Undergraduate           U.S.                Current Employment
..    ...            ...            ...                               ...
796  2022            OPT           U.S.                Current Employment
797  2022            OPT           U.S.        U.S. College or University
798  2022            OPT           U.S.                   U.S. Government
799  2022            OPT           U.S.              U.S. Private Sponsor
800  2022            OPT          Other                     Other Sources

     students
0      201578
1        9742
2        6245
3         749
4         749
..        ...
796    198793
797         0
798         0
799         0
800         0

[801 rows x 5 columns]

/var/folders/t1/yg1rln0x5bg97h_qn954mvlh0000gn/T/ipykernel_8919/3039768853.py:11: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  X9 = pd.read_sql(q_10, conn)
/var/folders/t1/yg1rln0x5bg97h_qn954mvlh0000gn/T/ipykernel_8919/3039768853.py:12: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  X10 = pd.read_sql(q_11, conn)

status_modified Table

In [79]:
q_12 = """
    DESCRIBE status_modified;
"""

q_13 = """    
    SELECT * FROM status_modified;
"""


# Execute the query
X11 = pd.read_sql(q_12, conn)
X12 = pd.read_sql(q_13, conn)

# Print or display the result
print("\nView The Structure of status_modified Table:")
print(X11)

print("\nRetrieve all rows from status_modified Table:")
print(X12)

View The Structure of status_modified Table:
        Field    Type Null Key Default Extra
0        year     int  YES        None
1      female  double  YES        None
2        male  double  YES        None
3      single  double  YES        None
4     married  double  YES        None
5   full_time  double  YES        None
6   part_time  double  YES        None
7      visa_f  double  YES        None
8      visa_j  double  YES        None
9  visa_other  double  YES        None

Retrieve all rows from status_modified Table:
    year    female      male     single   married  full_time  part_time  \
0   2007  278841.0  344964.0   543958.0   79847.0   575772.0    48033.0
1   2008  304242.0  367374.0   591694.0   79922.0   613185.0    58431.0
2   2009  309534.0  381389.0   615612.0   75311.0   637722.0    53201.0
3   2010  322582.0  400695.0   653842.0   69435.0   669031.0    54246.0
4   2011  338671.0  425824.0   690339.0   74156.0   714038.0    50457.0
5   2012  363922.0  455722.0   744237.0   75407.0   769646.0    49998.0
6   2013  390749.0  495303.0   806307.0   79745.0   829345.0    56707.0
7   2014  426043.0  548883.0   886208.0   88718.0   912531.0    62395.0
8   2015  451982.0  591857.0   950937.0   92902.0   971814.0    72025.0
9   2016  470366.0  608456.0   970940.0  107882.0  1007620.0    71202.0
10  2017  477329.0  617463.0   999545.0   95247.0  1028010.0    66782.0
11  2018  480836.0  614463.0  1002199.0   93100.0  1030676.0    64623.0
12  2019  477520.0  597976.0   987305.0   88191.0  1016344.0    59152.0
13  2020  407686.0  506409.0   827256.0   86839.0   843710.0    70385.0
14  2021  428731.0  519788.0   861255.0   87264.0   884020.0    64499.0
15  2022  473620.0  583568.0   966270.0   90918.0   986356.0    70832.0

       visa_f   visa_j  visa_other
0    552691.0  31814.0     39300.0
1    589007.0  39625.0     42984.0
2    612158.0  38692.0     40073.0
3    645163.0  40504.0     37610.0
4    688810.0  42047.0     33638.0
5    747515.0  42621.0     29508.0
6    804535.0  49619.0     31898.0
7    881333.0  58496.0     35097.0
8    957200.0  52192.0     34447.0
9    994674.0  45311.0     38837.0
10  1015967.0  44886.0     33939.0
11  1018628.0  44907.0     31764.0
12  1000211.0  44095.0     31190.0
13   860163.0  16454.0     37478.0
14   884020.0  27507.0     36992.0
15   989528.0  34887.0     32773.0

/var/folders/t1/yg1rln0x5bg97h_qn954mvlh0000gn/T/ipykernel_8919/1247241560.py:11: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  X11 = pd.read_sql(q_12, conn)
/var/folders/t1/yg1rln0x5bg97h_qn954mvlh0000gn/T/ipykernel_8919/1247241560.py:12: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  X12 = pd.read_sql(q_13, conn)

academic_detail_modified:

What is the distribution of students across different academic details?

How many students are enrolled in each academic program?

In [107]:

# SQL query to get the distribution of students across different academic details
q_a = """
    SELECT academic_type, COUNT(academic_type) as student_count
    FROM academic_detail_modified
    GROUP BY academic_type;
"""

# Execute the query
academic_program_distribution = pd.read_sql(q_a, conn)

# Print or display the result
print("\nDistribution of students across different academic programs:")
print(academic_program_distribution)

Distribution of students across different academic programs:
   academic_type  student_count
0  Undergraduate             48
1       Graduate             96
2     Non-Degree             48
3            OPT             24

/var/folders/t1/yg1rln0x5bg97h_qn954mvlh0000gn/T/ipykernel_8919/2775953364.py:9: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  academic_program_distribution = pd.read_sql(q_a, conn)

academic_modified:

What is the overall academic performance distribution of students?

How has the overall student enrollment changed over the years?

In [81]:
q_b = """
   SELECT
    year,
    COUNT(*) AS total_students
    FROM academic_modified
    GROUP BY year
    ORDER BY year;
"""

# Execute the query
academic_program_distribution = pd.read_sql(q_b, conn)

# Print or display the result
print("\nDistribution of students across different academic programs:")
print(academic_program_distribution)

Distribution of students across different academic programs:
    year  total_students
0   1979               1
1   1980               1
2   1981               1
3   1982               1
4   1983               1
5   1984               1
6   1985               1
7   1986               1
8   1987               1
9   1988               1
10  1989               1
11  1990               1
12  1991               1
13  1992               1
14  1993               1
15  1994               1
16  1995               1
17  1996               1
18  1997               1
19  1998               1
20  1999               1
21  2000               1
22  2001               1
23  2002               1
24  2003               1
25  2004               1
26  2005               1
27  2006               1
28  2007               1
29  2008               1
30  2009               1
31  2010               1
32  2011               1
33  2012               1
34  2013               1
35  2014               1
36  2015               1
37  2016               1
38  2017               1
39  2018               1
40  2019               1
41  2020               1
42  2021               1
43  2022               1

/var/folders/t1/yg1rln0x5bg97h_qn954mvlh0000gn/T/ipykernel_8919/2983271692.py:11: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  academic_program_distribution = pd.read_sql(q_b, conn)

What are the most popular fields of study among students?

How many students are enrolled in each field of study?

In [126]:
q_E = """
   SELECT field_of_study, COUNT(*) as student_count
    FROM field_of_study_modified
    GROUP BY field_of_study
    ORDER BY student_count ASC
    Limit 5;
"""

# Execute the query
academic_program_distribution = pd.read_sql(q_E, conn)

# Print or display the result
print("\nDistribution of students across different academic programs:")
print(academic_program_distribution)

Distribution of students across different academic programs:
            field_of_study  student_count
0  Business and Management             25
1        Intensive English             25
2                Education             25
3               Undeclared             25
4       Health Professions             44

/var/folders/t1/yg1rln0x5bg97h_qn954mvlh0000gn/T/ipykernel_8919/1364498402.py:10: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  academic_program_distribution = pd.read_sql(q_E, conn)

In [124]:
q_E = """
   SELECT field_of_study, COUNT(*) as student_count
    FROM field_of_study_modified
    GROUP BY field_of_study
    ORDER BY student_count DESC
    Limit 5;
"""

# Execute the query
academic_program_distribution = pd.read_sql(q_E, conn)

# Print or display the result
print("\nDistribution of students across different academic programs:")
print(academic_program_distribution)

Distribution of students across different academic programs:
               field_of_study  student_count
0                 Engineering            175
1       Other Fields of Study            174
2             Social Sciences            119
3                  Humanities            100
4  Physical and Life Sciences             75

/var/folders/t1/yg1rln0x5bg97h_qn954mvlh0000gn/T/ipykernel_8919/828690591.py:10: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  academic_program_distribution = pd.read_sql(q_E, conn)

What is the diversity of student origins in the database?

How many students come from each origin?

In [82]:


q_c = """
    SELECT origin, COUNT(*) as student_count
    FROM origin_modified
    GROUP BY origin;
"""

# Execute the query
academic_program_distribution = pd.read_sql(q_c, conn)

# Print or display the result
print("\nDistribution of students across different academic programs:")
print(academic_program_distribution)

Distribution of students across different academic programs:
                              origin  student_count
0    Africa, Subsaharan, Unspecified              3
1                  Asia, Unspecified              3
2                           Anguilla              3
3                Antigua and Barbuda              3
4                              Aruba              3
..                               ...            ...
190                       Tajikistan              3
191                     Turkmenistan              3
192                       Uzbekistan              3
193                           Brunei              3
194                    Burma/Myanmar              1

[195 rows x 2 columns]

/var/folders/t1/yg1rln0x5bg97h_qn954mvlh0000gn/T/ipykernel_8919/2695706700.py:8: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  academic_program_distribution = pd.read_sql(q_c, conn)

What are the primary sources of funding for students?

How many students are funded by each source?

In [83]:


q_d = """
    SELECT source_of_fund, COUNT(*) as student_count
    FROM source_of_fund_modified
    GROUP BY source_of_fund;
"""

# Execute the query
academic_program_distribution = pd.read_sql(q_d, conn)

# Print or display the result
print("\nDistribution of students across different academic programs:")
print(academic_program_distribution)

Distribution of students across different academic programs:
                     source_of_fund  student_count
0               Personal and Family             89
1  Foreign Government or University             89
2           Foreign Private Sponsor             89
3        International Organization             89
4                Current Employment             89
5        U.S. College or University             89
6                   U.S. Government             89
7              U.S. Private Sponsor             89
8                     Other Sources             89

/var/folders/t1/yg1rln0x5bg97h_qn954mvlh0000gn/T/ipykernel_8919/1927938138.py:8: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  academic_program_distribution = pd.read_sql(q_d, conn)

What is the distribution of student statuses (e.g., active, graduated)?

Male, Female, single, married?

In [85]:
q_e = """
    SELECT
    SUM(female) AS female_count,
    SUM(male) AS male_count
    FROM status_modified;
"""

# Execute the query
student_gender_distribution = pd.read_sql(q_e, conn)

# Print or display the result
print("\nDistribution of students status:")
print(student_gender_distribution)

Distribution of students status:
   female_count  male_count
0     6402654.0   8060134.0

/var/folders/t1/yg1rln0x5bg97h_qn954mvlh0000gn/T/ipykernel_8919/3161076624.py:9: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  student_status_distribution = pd.read_sql(q_e, conn)

In [86]:

q_f = """
    SELECT
    SUM(single) AS single_count,
    SUM(married) AS married_count
    FROM status_modified;
"""

# Execute the query
student_status_distribution = pd.read_sql(q_f, conn)

# Print or display the result
print("\nDistribution of students across different academic programs:")
print(student_status_distribution)

Distribution of students across different academic programs:
   single_count  married_count
0    13097904.0      1364884.0

/var/folders/t1/yg1rln0x5bg97h_qn954mvlh0000gn/T/ipykernel_8919/1751707867.py:9: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  student_status_distribution = pd.read_sql(q_f, conn)

What most gender graduated with bachelor's degree?

In [134]:
q_h = """
    SELECT a.academic_level,
        SUM(s.male) AS total_male,
        SUM(s.female) AS total_female
    FROM status_modified s
    JOIN academic_detail_modified a ON s.year = a.year
    WHERE a.academic_level = 'Bachelor''s'
    GROUP BY a.academic_level;
"""

# Execute the query
total_bachelors_by_gender = pd.read_sql(q_h, conn)

# Print or display the result
print("\nTotal number of people with Bachelor's degree by gender:")
print(total_bachelors_by_gender)

Total number of people with Bachelor's degree by gender:
  academic_level  total_male  total_female
0     Bachelor's   8060134.0     6402654.0

/var/folders/t1/yg1rln0x5bg97h_qn954mvlh0000gn/T/ipykernel_8919/305912965.py:12: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  total_bachelors_by_gender = pd.read_sql(q_h, conn)

How many female graduates with master and bachelor's degree?

In [105]:
q_i = """
    SELECT 
        a.academic_level,
        SUM(s.female) AS female_count
    FROM status_modified s
    JOIN academic_detail_modified a ON s.academic_detail_modified_column = a.academic_detail_modified_column
    WHERE a.academic_level IN ('Bachelor''s', 'Master''s')
    GROUP BY a.academic_level;
"""


# Execute the query
female_graduates = pd.read_sql(q_i, conn)

# Print or display the result
print("\nFemale graduates count:")
print(female_graduates)

/var/folders/t1/yg1rln0x5bg97h_qn954mvlh0000gn/T/ipykernel_8919/2055503846.py:13: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  female_graduates = pd.read_sql(q_i, conn)

DatabaseError: Execution failed on sql '
    SELECT
        a.academic_level,
        SUM(s.female) AS female_count
    FROM status_modified s
    JOIN academic_detail_modified a ON s.academic_detail_modified_column = a.academic_detail_modified_column
    WHERE a.academic_level IN ('Bachelor''s', 'Master''s')
    GROUP BY a.academic_level;
': (1054, "Unknown column 's.academic_detail_modified_column' in 'on clause'")

How many foreign students and us students?

In [106]:
q_h = """
    SELECT 
        SUM(visa_f) AS foreign_student_count,
        SUM(visa_j) AS us_student_count
    FROM status_modified;
"""

# Execute the query
student_count = pd.read_sql(q_h, conn)

# Print or display the result
print("\nStudent count:")
print(student_count)

Student count:
   foreign_student_count  us_student_count
0             13241603.0          653657.0

/var/folders/t1/yg1rln0x5bg97h_qn954mvlh0000gn/T/ipykernel_8919/4078557802.py:9: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  student_count = pd.read_sql(q_h, conn)

In [150]:
q_h = """
    SELECT a.academic_level,
        SUM(s.male) AS total_male,
        SUM(s.female) AS total_female
    FROM status_modified s
    JOIN academic_detail_modified a ON s.year = a.year
    WHERE a.academic_level IN ('Associate''s', 'Bachelor''s', 'Master''s', 'Doctoral', 'Professional')
    GROUP BY a.academic_level;
"""

# Execute the query
total_students_by_level = pd.read_sql(q_h, conn)

# Print or display the result
print("\nTotal number of students by academic level and gender:")
print(total_students_by_level)

Total number of students by academic level and gender:
  academic_level  total_male  total_female
0    Associate's   8060134.0     6402654.0
1     Bachelor's   8060134.0     6402654.0
2       Master's   8060134.0     6402654.0
3       Doctoral   8060134.0     6402654.0
4   Professional   8060134.0     6402654.0

/var/folders/t1/yg1rln0x5bg97h_qn954mvlh0000gn/T/ipykernel_8919/836178629.py:12: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  total_students_by_level = pd.read_sql(q_h, conn)