## Global Student Diversity Insights

###### The hypothesis suggests a slow increase in the number of females in academic programs over the last decade. To support this idea, we'll take a close look at how many boys and girls were enrolled in different academic years using the Global_Student_Diversity_Insights database. This analysis aims to reveal noticeable patterns and differences in gender participation over specific time periods, providing useful insights into the complex dynamics of gender representation in education. The potential impact of this study goes beyond mere observation; it could help shape educational policies to create more inclusive and diverse academic environments worldwide.

**Step 1:**

###### Import the database into VSCode and explore insights within the Global_Student_Diversity_Insights database.

In [ ]:
import numpy as np

import pandas as pd

import pymysql as mysql

import matplotlib.pyplot as plt

from sqlalchemy import create_engine

In [ ]:
# Defining the password variable
password = '123123123'

# Creating a connection to the Global_Student_Diversity_Insights database
conn = mysql.connect(host='localhost',
                     port=3306, user='root',
                     passwd=password,
                     db='Global_Student_Diversity_Insights')
# Create a SQLAlchemy engine
engine = create_engine(f"mysql+pymysql://{'root'}:{password}@{'localhost'}:{3306}/{'Global_Student_Diversity_Insights'}")

In [ ]:
showTable = pd.read_sql("Show Tables ", engine)
showTable

###### The "Global_Student_Diversity_Insights" dataset consists of six tables—academic details, enrollment, field of study, student origin, funding sources, and student status—offering comprehensive insights into various aspects of global student diversity.

In [ ]:
academicDetailDisplay = pd.read_sql("SELECT * FROM academic_detail_modified;", engine)
print("Display of the table:")
academicDetailDisplay.head(3)

In [ ]:
academicDisplay = pd.read_sql("SELECT * FROM academic_modified;", engine)
print("Display of the table:")
academicDisplay.head(3)

In [ ]:
studyFieldDisplay = pd.read_sql("SELECT * FROM field_of_study_modified;", engine)
print("Display of the table:")
studyFieldDisplay.head(3)

In [ ]:
originDisplay = pd.read_sql("SELECT * FROM origin_modified;", engine)
print("Display of the table:")
originDisplay.head(3)

In [ ]:
sourceOfFundDisplay = pd.read_sql("SELECT * FROM source_of_fund_modified;", engine)
print("Display of the table:")
sourceOfFundDisplay.head(3)

In [ ]:
statusDisplay = pd.read_sql("SELECT * FROM status_modified;", engine)
print("Display of the table:")
statusDisplay.head(3)

**Step 2**
###### Basic Overview:

In [ ]:
academicDetail = pd.read_sql("""DESCRIBE academic_detail_modified;
""", engine)
print("The decribe table of academic detail modified:")
academicDetail

In [ ]:
academic = pd.read_sql("""DESCRIBE academic_modified;
""", engine)
print("The decribe table of academic modified:")
academic

In [ ]:
studyField= pd.read_sql("""DESCRIBE field_of_study_modified;
""", engine)
print("The decribe table of field of study modified:")
studyField

In [ ]:
origin= pd.read_sql("""DESCRIBE origin_modified;
""", engine)
print("The decribe table of origin modified:")
origin

In [ ]:
sourceOfFund = pd.read_sql("""DESCRIBE source_of_fund_modified;
""", engine)
print("The decribe table of source of fund modified:")
sourceOfFund

In [ ]:
status = pd.read_sql("""DESCRIBE status_modified;
""", engine)
print("The decribe table of status modified:")
status

In [ ]:
# Load each table into a DataFrame for EDA
tables = ['status_modified', 'academic_modified', 'field_of_study_modified', 'origin_modified', 'source_of_fund_modified', 'academic_detail_modified']
for i in tables:
     # Load table into DataFrame
    dfDESCRIBE = pd.read_sql_query(f"DESCRIBE {i}", engine)
    # Display table name
    print(f"\n{i} - Basic Overview:")
    # Display Basic Overview:
    print(dfDESCRIBE)
# Close the engine connection
engine.dispose()

**Step 3**
###### Summary Statistics

In [ ]:
# Load each table into a DataFrame for EDA
tables = ['status_modified', 'academic_modified', 'field_of_study_modified', 'origin_modified', 'source_of_fund_modified', 'academic_detail_modified']
for i in tables:
     # Load table into DataFrame
    df = pd.read_sql_query(f"SELECT * FROM {i}", engine)
    # Display table name
    print(f"\n{i} - Summary Statistics:")
    # Display summary statistics
    print(df.describe())
# Close the engine connection
engine.dispose()

**Step 4**
###### Missing Values:

In [ ]:
for table in tables:
    # Load table into DataFrame
    df = pd.read_sql_table(table, engine)
    # Check for missing values
    print(f"\n{table} - Missing Values:")
    print(df.isnull().sum())

# Close the engine connection
engine.dispose()

**Step 5**
###### Data Transformation

In [ ]:
AddNewColumn = pd.read_sql_query("""select *  from status_modified;
                                 """, engine)
AddNewColumn

In [ ]:
# Assuming 'engine' is your SQLAlchemy engine
with engine.connect() as connection:
    # Execute the UPDATE statement
    connection.execute("""
        UPDATE status_modified
        SET female_percentage = (female / (female + male)) * 100
    """)

In [ ]:
JoinTables = pd.read_sql_query("""SELECT *
                               FROM status_modified
                               JOIN academic_modified ON status_modified.year = academic_modified.year;
                               """, engine)
JoinTables

In [ ]:
# # Combine Academic Details
# sql_combine_academic_details = """
# INSERT INTO academic_modified (year, students, us_students, undergraduate, graduate, non_degree, opt)
# SELECT a.year, a.students, a.us_students, a.undergraduate, a.graduate, a.non_degree, a.opt
# FROM academic_detail_modified a
# WHERE a.academic_type = 'Undergraduate';
# """

# # Calculate Female Percentage
# sql_calculate_female_percentage = """
# ALTER TABLE status_modified
# ADD COLUMN female_percentage FLOAT;

# UPDATE status_modified
# SET female_percentage = (female / (female + male)) * 100;
# """

# # Calculate Female Increase Over Time
# sql_calculate_female_increase = """
# SELECT year, female,
#        LAG(female) OVER (ORDER BY year) AS female_previous_year,
#        (female - LAG(female) OVER (ORDER BY year)) AS female_increase
# FROM status_modified
# ORDER BY year;
# """

# # Execute SQL queries
# with engine.connect() as connection:
#     connection.execute(sql_combine_academic_details)
#     connection.execute(sql_calculate_female_percentage)
#     df_female_increase = pd.read_sql_query(sql_calculate_female_increase, engine)

# # Display the result of the third query
# print("\nFemale Increase Over Time:")
# print(df_female_increase)

In [ ]:
# # 1. Gender Distribution Over Time
# gender_distribution = pd.read_sql_query("""
#                                         SELECT year, female, male
#                                         FROM status_modified
#                                         ORDER BY year;
#                                         """, engine)
# gender_distribution

In [ ]:
# # Calculate the sum of female and male students over the past ten years
# total_female = gender_distribution['female'].sum()
# total_male = gender_distribution['male'].sum()

# # Display the results
# print(f"Total Female Students over the Past Ten Years: {total_female}")
# print(f"Total Male Students over the Past Ten Years: {total_male}")

In [ ]:
# academic_level_gender = pd.read_sql_query("""
#                                           SELECT *
#                                           FROM status_modified;""", engine)
# academic_level_gender

In [ ]:


# # 2. Academic Level and Gender
# query2 = """
# SELECT year, academic_level, female
# FROM status_modified
# ORDER BY year, academic_level;
# """
# academic_level_gender = pd.read_sql_query(query2, conn)

# # 3. Marital Status and Gender
# query3 = """
# SELECT year, single, married
# FROM status_modified
# WHERE gender = 'female'
# ORDER BY year;
# """
# marital_status_gender = pd.read_sql_query(query3, conn)

# # 4. Full-Time vs. Part-Time Enrollment
# query4 = """
# SELECT year, full_time, part_time
# FROM status_modified
# WHERE gender = 'female'
# ORDER BY year;
# """
# enrollment_status_gender = pd.read_sql_query(query4, conn)

# # 5. Visa Types and Gender
# query5 = """
# SELECT year, visa_f, visa_j, visa_other
# FROM status_modified
# WHERE gender = 'female'
# ORDER BY year;
# """
# visa_types_gender = pd.read_sql_query(query5, conn)

# # 6. Field of Study and Gender
# query6 = """
# SELECT s.year, f.field_of_study, s.female
# FROM status_modified s
# JOIN field_of_study_modified f ON s.year = f.year
# WHERE s.gender = 'female'
# ORDER BY s.year, f.field_of_study;
# """
# field_of_study_gender = pd.read_sql_query(query6, conn)

# # Close the database connection
# conn.close()